<template name="query_form">
  <form id="query">
    <div id="url">
      <input type="text" name="url" id="url" value="URL">
      <label for="url">URL</label>
    </div>
    <div id="table">
      <input type="text" name="table" id="table" value="Sheet name">
      <label for="table">Sheet name</label>

    </div>
    <div id="period">
      <input type="text" name="period" id="period" value="every 10 seconds">
      <label for="period">Schedule</label>
    </div>
    <input type="submit" value="Submit">
  </form>
</template>
